.container {
  display: flex;
  font-size: 1.5rem; /* Increased font size */
}

.sidebar {
  width: 300px; /* Increased width */
  background-color: #343a40;
  color: white;
  padding: 30px; /* Increased padding */
}

.sidebar h2 {
  margin-top: 0;
  font-size: 1.75rem; /* Increased font size */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0; /* Increased margin */
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-size: 1.25rem; /* Increased font size */
}

.sidebar a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 30px; /* Increased padding */
}

.title {
  font-size: 2.5em; /* Increased font size */
  margin-bottom: 30px; /* Increased margin */
}

.filterContainer {
  margin-bottom: 30px; /* Increased margin */
}

.label {
  display: block;
  margin-bottom: 10px; /* Increased margin */
  font-weight: bold;
  font-size: 1.25rem; /* Increased font size */
}

.input {
  display: block;
  width: 100%;
  padding: 12px; /* Increased padding */
  border: 2px solid #333; /* Darker border for better contrast */
  border-radius: 6px;
  font-size: 1.5rem; /* Further increased font size */
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px; /* Increased margin */
}

.table th, .table td {
  border: 2px solid #333; /* Darker border for better contrast */
  padding: 12px; /* Increased padding */
  text-align: left;
  font-size: 1.25rem; /* Increased font size */
}

.table th {
  background-color: #d0d0d0; /* Slightly darker background */
}

.tableContainer {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex: 1;
  min-width: 250px; /* Set a minimum width for the table */
}

.tableHeader, .tableRow {
  display: flex;
  flex-wrap: wrap;
}

.tableCell {
  flex: 1 1 100px; /* Adjust the width as needed */
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  text-align: center;
}

.chartContainer {
  flex: 1;
  width: 100%; /* Ensure the chart container takes up the full width */
  min-width: 600px; /* Set a minimum width for the charts */
  margin-top: 50px; /* Increased margin */
  display: flex;
  justify-content: center;
  align-items: center;
}

.chartContainer canvas {
  max-width: 100%; /* Ensure the chart canvas does not exceed the container width */
  height: auto; /* Maintain aspect ratio */
}

.userExpenses, .debtMessages {
  margin-top: 50px; /* Increased margin */
}

.userExpenses {
  margin-top: 50px; /* Increased margin */
  font-size: 1.5rem; /* Further increased font size */
}

.userExpenses ul, .debtMessages ul {
  list-style-type: none;
  padding: 0;
}

.userExpenses li, .debtMessages li {
  margin: 15px 0; /* Increased margin */
  font-size: 1.5rem; /* Further increased font size */
}

.debtMessages li {
  margin: 10px 0; /* Increased margin */
  font-size: 1.25rem; /* Increased font size */
}

.expenseSplitter {
  margin-top: 50px;
  font-size: 1.25rem;
}

.splitExpenseItem {
  margin-bottom: 15px;
}

.transactions {
  margin-top: 20px;
}

.transactionItem {
  margin-top: 10px;
}

.analysisContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  //padding: 10px;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 15px;
  }

  .content {
    padding: 15px;
  }

  .title {
    font-size: 2rem;
  }

  .label, .input, .button {
    font-size: 1rem;
  }

  .table th, .table td {
    font-size: 1rem;
    padding: 8px;
  }

  .userExpenses, .debtMessages {
    font-size: 1.25rem;
  }

  .splitExpenseItem {
    font-size: 1rem;
  }

  .transactions {
    font-size: 1rem;
  }

  .chartContainer {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .analysisContainer {
    flex-direction: column;
  }

  .chartContainer {
    margin-left: 0;
    margin-top: 20px;
  }
}
